<h2>Add a movie to the database</h2>

<form action="/movies" method="POST">
    <label for="movie-title">Person's title:</label>
    <input id="movie-title" type="text" name="title"></input>
    <label for="movie-genre">genre:</label>
    <input id="movie-genre" type="text" name="genre"></input>
    <label for="movie-plot">Catch phrase:</label>
    <input id="movie-plot" type="text" name="plot"></input>
    <button type="submit">Add movie</button>
</form>